#add{
    font-size: 30px;
    background-color: gold;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#add:hover{
    background-color: green;
    box-shadow: 2px 2px 2px 2px solid black;
    border-radius: 20px;
}

#counter{
    padding: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#value{
    width: 100%;
    margin: auto;
    display: block;
}
#value h1{
    font-size: 30px;
   
    width: 35%;
    height: 50px;
    border-radius: 25px;
}

#name{
    background-color: gold;
    width: 60%;
    border-radius: 25px;
    border:  2px solid black;
    margin: auto;
    height: auto;
    font-size: 25px;
}
#name button{
    font-size: 20px;
    padding-top: 30px;
    background-color: gray;
    color: white;
    padding: 7px;
}
#name label{
    font-size: 25px;
    width: 50%;
    padding-right: 40px;
 
}
#name input,select,option{
    font-size: 20px;

}
#lab-select{
    padding-bottom: 20px;
}
#lab-name{
    padding-right: 30px;
}
#lab-phone{
    padding-right: 75px;
}
#answer{
    width: 80%;
    margin: auto;
    display: block;
    font-size: 25px;
}
nav{
    margin: auto;
    width: 100%;
    display: block;
}


  #dummy{
    display: block;
  }


nav ul li{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.ok{
    width: 80%;
    margin: auto;
    display: block;
}
.ok #name button:hover{
    color: black;
    background-color: green;
    border:  1px solid rgb(140, 255, 0);
}

#pro-button button:hover{
    color: white;
    background-color: rgb(0, 2, 128);
    border:  1px solid rgb(140, 255, 0);
}
#life{
    width: 80%;
    display: block;
    margin: auto;
}
#life button{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    color: black;
    background-color: bisque;
}

#life button:hover{
    color: black;
    background-color: antiquewhite;
}